<form action="post" class="form-horizontal" id="postEditForm">
	<div class="form-group">
		<label for="postTitle">Title</label>
		<input id="postTitle" value="<%= post.title %>" type="text" class="form-control" placeholder="Post Title">
	</div>
	<div class="form-group">
		<label for="postBody">Body</label>
		<textarea name="postBody" id="postBody" rows="10" class="form-control" placeholder="Post Body"><%= post.body %></textarea>
	</div>
	<button type="submit" class="btn btn-default">Save</button>
	<a href="#" class="btn-link">All Posts</a>
</form>