<div class="row">
	<div class="col-md-9">
		<h3>
			<%= post.title %>
		</h3>
	</div>
	<div class="col-md-3">
		<%= post.createdOn %>
	</div>
</div>
<div class="row">
	<div class="col-md-10">
		<%= post.body %>
	</div>
	<div class="col-md-2">

	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-12">
		<a class="btn btn-primary" href="#/<%= post.id %>/edit">Edit</a>
		<button class="btn btn-danger" id="btnDeletePost">Delete</button>
		<a href="#" class="btn btn-default">Return</a>
	</div>
</div>